nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(53, 51, 51);
}
nav .logo:hover {
  color: #fff;
}

nav ul li {
  display: flex;
  gap: 40px;
  /* margin-right: 20px; */
  list-style: none;
}

nav a {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

nav a:hover {
  color: #fff;
}
